$couleur__background--body : rgb(221, 255, 242);

$couleur__titre--secondaire : rgb(0, 255, 128);

$couleur__texte : rgb(0, 0, 0);


/*----- Couleurs d'arrière-plan des titres ----- */

$couleur__background--h1 : rgb(255, 255, 255);
$couleur__background--h2h3h4 : rgb(182, 182, 182);
$couleur__background--h5h6 : rgb(99, 99, 99);
$couleur__background--code : rgb(255, 174, 174);


/*----- Couleurs des titres ----- */

$couleur__h1 : rgb(141, 129, 255);
$couleur__h2h3h4 : rgb(75, 55, 255);
$couleur__h5h6 : rgb(25, 0, 255);
$couleur__code : #bbb;


/*----- Couleurs des liens ----- */

$couleur__link: rgb(91, 255, 85);
$couleur__link--hover: rgb(153, 255, 85);
$couleur__link--visited: rgb(91, 255, 85);


/*----- Couleurs des boutons ----- */

$color__border-button: #999;
$color__background-button: #bbb;
$color__border-button-hover: #aaa;
$color__border-button-focus: #888;


/*----- Couleurs des champs ----- */

$color__text-input: #444;
$color__border-input: #777;
$color__text-input-focus: #333;


/*----- Couleurs des lignes horizontales ----- */

$color__background-hr: rgb(161, 188, 226);


/*----- Couleurs simples ----- */

$color__background-pre: rgb(158, 213, 196);
$color__border-abbr: #aaa;


/*----- Couleurs ins ----- */

$color__background-ins: #ddd;