.site__branding {

    // display: flex;
    // justify-content: center;
    // align-items: center;

    text-align: center;

    .logo {
        display: flex;
        justify-content: center;
        padding-block: 20px;

        // img {
        //     height: 50px;
        //     object-fit: cover;
        // }
    }
}

.site__title {
    font-family: $police__titre--principal;
}

.site__description {
    font-family: $police__main;
}
