.site__branding {

    // display: flex;
    // justify-content: center;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: center;

    padding-inline: 50px;

    .entete__sidebars {
        padding-top: 16px;
    }

    .logo {
        display: flex;
        justify-content: center;
        padding-block: 20px;

        // img {
        //     height: 50px;
        //     object-fit: cover;
        // }
    }
}

.site__title {
    font-family: $police__titre--principal;
}

.site__description {
    font-family: $police__main;
}

.wp-block-search__label {
    display: flex;
}
