footer {
    font-family: $police__main;
}

.site__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site__footer>div {
    padding: 10px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.site__footer>div * {
    padding: 0;
    margin: 0;
}