aside {
    margin-inline: $margin__aside;
    margin-bottom: $margin__aside;
    padding-inline: $margin__aside--petit;
    background-color: $couleur__titre--secondaire;
}

aside h2 {
    color: $couleur__link__aside--hover;
}

.menu__aside {

    display: flex;

    .menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}