.menu__evenement .menu {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.menu__evenement .menu-item {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.evenement__porte {
    background-color: rgba(196, 255, 100, 0.3);

    a {
        color: black;
    }

    .menu__item__icone {
        transform: scale(1);
        transition: transform 0.5s ease-out;
    }
}

.evenement__porte:hover {
    background-color: rgba(196, 255, 100, 0.7);

    .menu__item__icone {
        transform: scale(1.5);
        transition: transform 0.5s ease-out;
    }
}

.evenement__projet {
    background-color: rgba(184, 255, 70, 0.3);

    a {
        color: black;
    }

    .menu__item__icone {
        transform: scale(1);
        transition: transform 0.5s ease-out;
    }
}

.evenement__projet:hover {
    background-color: rgba(184, 255, 70, 0.7);

    .menu__item__icone {
        transform: scale(1.5);
        transition: transform 0.5s ease-out;
    }
}

.evenement__stage {
    background-color: rgba(157, 255, 0, 0.3);
    
    a {
        color: black;
    }

    .menu__item__icone {
        transform: scale(1);
        transition: transform 0.5s ease-out;
    }
}

.evenement__stage:hover {
    background-color: rgba(157, 255, 0, 0.7);

    .menu__item__icone {
        transform: scale(1.5);
        transition: transform 0.5s ease-out;
    }
}

.menu__item__icone {
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
}