// nav
.menu__primaire {

    background-color: $couleur__nav--primaire;
    padding: 20px;
    font-family: $police__main;

    // ul
    .menu {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        padding: 0px;

        @media screen and (max-width: 700px) {
            display: block;
            text-align: center;
        }
    }

    .menu>li {

        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        text-align: center;
        padding-inline: 10px;

        @media screen and (max-width: 700px) {
            padding-bottom: 20px;
        }
    }

    a {
        color: white;
        margin: 0;
    }
} // fin .menu__principal


// Transformation en CSS

// .menu-primaire-container {}
// .menu-primaire-container .menu {}
// .menu-primaire-container .menu .menu-item {}
// .menu-primaire-container .menu a {}