body {
    background-color: $couleur__background--body;
    margin: 100px 50px;
}

main {
    font-family: $police__main;
    // text-align: center;
}

p {
    color: $couleur__texte;
}

.trace {
    background-color: #0f0;
}