body {
    // background-color: $couleur__background--body;
    margin: 0;
}

main {
    font-family: $police__main;
    margin-right: $margin__body;
    margin-bottom: $margin__body;
}

p {
    color: $couleur__texte;
}

.trace {
    background-color: #0f0;
}